header {
  background-color: #248EA6;
  text-align: left;
  display: flex;
  justify-content: space-between;

  a {
    color: #FFF;
    transition: color 0.3s ease;

    &:hover {
      color: darken(#fff, 20%)
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

    li {
      list-style-type: none;
      padding: 0px 10px;
      color: black
    }

  button {
    background-color: #F23030;
    text-decoration: none;
  }

.petpals{
  font-family: 'Righteous', cursive;
  font-size: 1.75rem;
  color: #F2D338;
}

  // .dropbtn {
  //   // background-color: #4CAF50;
  //   border-radius: 50%;
  // }

  .dropdown-img{
    border: 4px solid;
    border-color: #F2D338;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  
  .dropdown {
    background-color: ff0099;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.742);
    border-radius: 3px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


  
  .dropdown-content a:hover {color: #F2762E;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
}