.ac-body {
  display: flex;
  flex-direction: column;
}

.ac-heading {
  text-align: center;
  font-family: 'Neucha', cursive;
  margin: 5% 0%;
}

.ac-form {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.ac-button {
  background-color: #F23030;
  text-decoration: none;
  padding: 4px 0 0 0;
  width: 100px;
  border-radius: 15px;
  border: none;
  color: #FFF;
  font-family: 'Neucha', cursive;
  align-self: center;
}



