.ap-body {
  display: flex;
  flex-direction: column;
}

.ap-heading {
  text-align: center;
  font-family: 'Neucha', cursive;
  margin: 5% 0%;
}

.ap-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form-group{
  display: flex;
  flex-direction: column;

}

.ap-label{
  font-family: 'Neucha', cursive;
  font-size: 20px;
  color: #F2762E;
}

.ap-button {
  background-color: #F23030;
  text-decoration: none;
  padding: 4px 0 0 0;
  width: 75px;
  border-radius: 15px;
  border: none;
  color: #FFF;
  font-family: 'Neucha', cursive;
  align-self: center;
}

