.n-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.n-heading{
  font-family: 'Neucha', cursive;
  color: #f2762e;
  margin: 2%;
}

.n-results{
  align-self: center;
  text-align: center;
}

.n-emoji{
  font-size: 3rem;
}

.n-button {
  background-color: #F23030;
  text-decoration: none;
  padding: 4px 0 0 0;
  width: 155px;
  border-radius: 15px;
  border: none;
  color: #FFF;
  font-family: 'Neucha', cursive;
  align-self: center;
}

