/* Posts */

.post-container{
    border: 2px solid black;
    border-radius: 5px;
    margin: 5% 3%;
}

.post-img {
    width: 100%;
}

.post-content{
    font-family: 'Neucha', cursive;
    font-size: 18px;
    margin: 0;
    padding: 1%;
}

.post-button-wrapper{
    display: flex;
    justify-content: flex-end;
    background-color:#248ea69e;
    padding: 0% 2%;
}

.post-button {
    padding: 1% 2%;
}



