.p-body {
   display: flex;
   flex-direction: column;
   justify-content: center; 
}

/* PROFILE PIC AND NAME DISPLAY */
.nameDisplay {
    font-family: 'Righteous', cursive;
    font-size: 1rem;
    color: #F2762E;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.profilePicContainer{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.addProfilePic {
    height: 175px;
    width: 175px;
    border: solid 5px;
    border-color: #F2D338;
    border-radius: 50%;
    text-align:center;
    display: flex;
    align-items: center;
    padding: 5%;
}

.addProfilePicText {
    align-self: center;
}

.profilePic {
    height: 35%;
    width: 35%;
    border: solid 5px;
    border-color: #F2D338;
    border-radius: 50%;
}

/* Image and Pet Containers */
.row{
    justify-content: center;
}

.profile-preview-img{
    width: 115px;
    height: 115px;
}
;
.img-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}

.profile-preview-container{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
}

.pet-container{
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    justify-content: space-around;
}


.pet-card-container{
    display: flex;
}

.profile-header{
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px 0 0 20px;

}

.friends-list-profile{
    display: flex;
    justify-content: space-evenly;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 50px 0 0 20px;
}
.pet-card-btns-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 41px;
  
}

.friends-container{
    border: 2px solid black;
    margin: 100px 0;
}

